
html{
    font-size:62.5% ;
}
body{
    text-align: center;
    font-size: 1.6rem;
    background-color: rgb(168, 63, 131);
}
.small-links {
    text-align: left;
    display: block;
    font-size: 1.6rem;
}
h1{font-size: 4rem;}

.main-links {
    font-size: 2.4rem;
    height: auto;
}
.content-wrapper{max-width: 1100px;}
img.fluid-constrained {
  width: clamp(150px,70vw, 400px);
    height: auto;
    border: 1vw solid rgb(168, 63, 131);
}
.top-section {
    background-color: rgb(249, 193, 193);
    padding: 2vw;
    border-radius: 2vw;
    margin-bottom: 4vw;
}
.bottom-section {
    background-color: rgb(249, 193, 193);}

@media (min-width: 600px) {
h1 {font-size: 6rem;}
.main-links {font-size: 4rem;}
.small-links {font-size: 2rem;}
.content-wrapper {text-align: left;}

}
